@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gaegu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Black Han Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    font-size: 30px;
    color: rgb(255, 112, 101);
    text-align: center;
    margin: 20px 0;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

header a {
    color: rgb(255, 112, 101);
    text-decoration: none;
}

header a:hover {
    color: #fff;
    text-shadow: -2px -2px 0 #4986ff,
                 -2px 2px 0 #4986ff,
                 2px -2px 0 #4986ff,
                 2px 2px 0 #4986ff;
}

header h2 {
    font-size: 40px;
}

.hidden {
    display: none;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    font-family: 'Gaegu', sans-serif;
    position: absolute;
    top: 100px;
}

#map {
    width: 100%;
    height: 400px;
}

#newHotPlaceForm {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#hotPlaces {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    margin-top: 80px;
    justify-items: center; /* 중앙 정렬 */
}

.hotPlaceItem {
    font-family: 'gaegu', sans-serif;
    border: 2px solid #4986ff;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    width: 150px; /* 필요에 따라 너비를 조정하세요 */
    text-align: center; /* 텍스트를 가운데 정렬합니다 */
    margin-bottom: 10px; /* 항목 사이의 간격을 조절합니다 */
}

.hotPlaceItem .placeName {
    font-size: 20px; /* 단락 (가게 이름 및 종류) 사이의 간격을 조정합니다 */
}

.hotPlaceItem .placeType {
    font-size: 15px;
}

.hotPlaceItem #DelButton {
    font-family: 'gaegu', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    background-color: #4986ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    cursor: pointer;
}


.hotPlaceItem:hover {
    border: 2px solid #ff7065;
}

#addHotPlace {
    font-family: 'gaegu', sans-serif;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
    background-color: #4986ff;
    color: white;
    border: none;
    cursor: pointer;
}

#addHotPlace:hover {
    background-color: #ff7065;
}

input[type="text"],
input[type="number"] {
    padding: 8px; /* 내부 여백 설정 */
    margin-bottom: 10px; /* 아래쪽 여백 설정 */
    width: 200px; /* 너비 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 5px; /* 테두리 반경 설정 */
    font-size: 14px; /* 폰트 크기 설정 */
}

#hotPlacePage #hotplaces button {
    font-family: 'gaegu', sans-serif;
    font-size: 17px;
    padding: 8px 15px; /* 내부 여백 설정 */
    margin: 5px; /* 외부 여백 설정 */
    margin-left: 50px;
    background-color: #4986ff; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: none; /* 테두리 없애기 */
    border-radius: 5px; /* 테두리 반경 설정 */
    cursor: pointer; /* 포인터 커서 설정 */
}

#hotPlacePage div button:hover {
    background-color: #ff7065; /* 호버 시 배경색 변경 */
}

#hotPlacePage .addbutton {
    font-family: 'gaegu', sans-serif;
    font-size: 17px;
    padding: 8px 15px; /* 내부 여백 설정 */
    margin: 5px; /* 외부 여백 설정 */
    margin-left: 50px;
    background-color: #4986ff; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: none; /* 테두리 없애기 */
    border-radius: 5px; /* 테두리 반경 설정 */
    cursor: pointer;
}

/* 입력 필드와 버튼을 감싸는 레이블 스타일 */
label {
    display: block; /* 블록 레벨 요소로 설정하여 세로 정렬 */
    margin-bottom: 10px; /* 아래쪽 여백 설정 */
    font-weight: bold; /* 굵은 글꼴 설정 */
}

.pagination-button {
    font-family: 'gaegu', sans-serif;
    font-size: 15px;
    background-color: #4986ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    margin: 10px;
    margin-bottom: 70px;
    position: absolute;
    bottom: 0px;
}

.pagination-button:hover {
    background-color: #ff7065;
}

.pagination-button#nextpage {
    right: 20px; /* 우측에 위치 */
}

.pagination-button#prevpage {
    left: 20px; /* 좌측에 위치 */
}

#detailName {
    font-size: 45px;
    text-align: center;
}

#detailType {
    font-size: 30px;
    text-align: center;
}

#backToHotPlaceList {
    font-family: 'gaegu', sans-serif;
    font-size: 15px;
    background-color: #4986ff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    margin: 10px;
    margin-bottom: 70px;
    position: absolute;
    bottom: 0px;
    left: 47%;
}

footer {
    background-color: #fff;
    font-family: "Gaegu", sans-serif;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 0;
}
