<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>HTML + CSS 실습 5</title> 
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header id="top_header">
        <hgroup id="title">
            <h1>이번 학기 수업</h1>
            <p>24-1, 3학기 수업에 대하여 작성된 페이지입니다.</p>
        </hgroup>
        <nav >
			<ul id="navi">
				<li><a href="#">전공</a>
					<ul class="submenu">
					<li><a href="#">전공선택</a></li>
					<li><a href="#">전공필수</a></li>
				  	</ul>
				</li>
				<li><a href="#">교양</a>
					<ul class="submenu">
					<li><a href="#">교양선택</a></li>
					<li><a href="#">교양필수</a></li>
				  	</ul>
				</li>
				<li><a href="#">비교과 프로그램</a>
					<ul class="submenu">
						<li><a href="#">교양 관련 프로그램</a></li>
						<li><a href="#">전공 관련 프로그램</a></li>
					</ul>
				</li>
				<li><a href="#">노래</a>
					<ul class="submenu">
						<li><a href="#">노동요</a></li>
						<li><a href="#">공부할 때 듣는 노래</a></li>
					</ul>
				</li>
				
			</ul>
        </nav>
    </header>

		<aside id="login">
			<form>
				<label for="user">ID</label>
				<input type="text" id="user" size="15"><br>
				<label for="pass">PW</label>
				<input type="password" id="pass" size="15"><br>
				<input type="submit" value="로그인">
				<input type="button" value="회원가입">
			</form>			
		</aside>

		<aside id="ad">
			<article>
				<p>숙명여자대학교</p>
				<p>컴퓨터과학과</p><p>웹시스템설계</p>
				<p><img src="sm_logo.png" width="170"=></p>
			</article>
			<article>
				<p>A+ 쇼핑몰</p>
				<p><img src="http://placehold.it/170x60"></p>
				<p>100% 학점 이벤트<br>	무료 A+ 무한 제공</p>
			</article>
		</aside>
		
		<section id="post">
			<article>
                <div class="card">
                    <header>
                      <h3>웹시스템설계</h3>
                    </header>
                    <figure>
                      <img src="w3schools.png">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  </div> 
			</article>
			<article>
                <div class="card">
                    <header>
                      <h3>자료구조</h3>
                    </header>
                    <figure>
                      <img src="자료구조.jpg">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div> 
            </article>
			<article>
                <div class="card">
                    <header>
                      <h3>데이터사이언스개론</h3>
                    </header>
                    <figure>
                      <img src="데이터사이언스개론.jpg">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div> 
			</article>
		</section>
	<footer>
		<nav id="foot">
			<ul>
				<li><a href="#">교수 소개</a>
				<li><a href="#">학생 인사말</a>
				<li><a href="#">배우는 길</a>
				<li><a href="#">광고 모집</a>
			</ul>
		</nav>	
	</footer>
</body>
</html>
